# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.fleet/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Builds
**/build/
**/dist/
**/node-x86_64-apple-darwin
**/node-aarch64-apple-darwin
LightDanceClient/src-tauri/resources/bridger/bundle.cjs

__pycache__/
BridgeAPI/storage/

# Cpp builds and debug files
**/*.dSYM/
Client/*.out

**/.env
**/boost